* {
    margin: 0;
    padding: 0;
}


.image {
    width: 400px;
    height: 400px;
    margin: 20px 0px 20px 450px;

}

.time {
    position: absolute;
    bottom: 77%;
    left: 550px;
    font-size: 40px;
    color: aliceblue;
}

.button {
    display: flex;
    flex-wrap: wrap;
    padding-left: 450px;
    gap: 40px;
 
}

.ForBUTTONS {
    padding: 10px 40px;
    cursor: pointer;
    background-color: antiquewhite;
}

.ForBUTTONS:hover {
    background-color: rgb(77, 35, 35);
}

.Foricons {
    font-size: 28px;
    color: rgb(121, 79, 79);
}